@import url(https://use.typekit.net/iok7hkr.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
html {
  padding: 10px;
  margin: 0;
  height: auto; }

body {
  font-family: "colfax-web", "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #34363a;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  height: auto; }

a {
  color: #34363a;
  text-decoration: underline; }

ul, ol, blockquote {
  padding-left: 0;
  margin: 0; }

li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd, p, figure, pre, table,
fieldset, hr, form {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit; }

[type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"], [type="color"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="time"], [type="week"], textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #f0f0f0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: none;
  transition: border 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 15px;
  cursor: default !important;
  font-family: "colfax-web", "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
}

input[type=search]:focus{
    border: 1px solid #de7264;
    outline: 3px solid #fcf1ef;
    outline-offset: 0.5px;
}

*:focus {
  outline: 0; }

input[type=number]::-ms-tooltip {
  display: none; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0; }

button, input[type="submit"] {
  background-image: none;
  border-radius: 0; }

[type="email"]:hover, [type="number"]:hover, [type="password"]:hover, [type="search"]:hover, [type="tel"]:hover, [type="text"]:hover, [type="url"]:hover, [type="color"]:hover, [type="date"]:hover, [type="datetime"]:hover, [type="datetime-local"]:hover, [type="month"]:hover, [type="time"]:hover, [type="week"]:hover, textarea:hover {
  border-color: #d7d7d7; }

[type="email"]:focus, [type="number"]:focus, [type="password"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="text"]:focus, [type="url"]:focus, [type="color"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="time"]:focus, [type="week"]:focus, textarea:focus {
  border-color: #70c8dc;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px var(--semi-transparent-accent-color); }

[type="email"][disabled][disabled], [type="number"][disabled][disabled], [type="password"][disabled][disabled], [type="search"][disabled][disabled], [type="tel"][disabled][disabled], [type="text"][disabled][disabled], [type="url"][disabled][disabled], [type="color"][disabled][disabled], [type="date"][disabled][disabled], [type="datetime"][disabled][disabled], [type="datetime-local"][disabled][disabled], [type="month"][disabled][disabled], [type="time"][disabled][disabled], [type="week"][disabled][disabled], textarea[disabled][disabled] {
  color: #515151;
  border-color: #f0f0f0; }

input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.4em; }

pre, code {
  font-family: "Roboto Mono", "Menlo", "Bitstream Vera Sans Mono", Consolas, Courier, monospace; }

hr {
  color: #f0f0f0;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

table {
  table-layout: fixed; }

th, td {
  text-align: left; }

img {
  max-width: 100%; }

legend {
  color: #848484; }

strong {
  font-weight: 500; }

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important; }

.DatoCMS-button, .DatoCMS-button--micro, .DatoCMS-button--tiny, .DatoCMS-button--small, .DatoCMS-button--large, .DatoCMS-button--huge, .DatoCMS-button--expand, .DatoCMS-button--primary, .DatoCMS-button--datocms, .DatoCMS-button--rev, .DatoCMS-button--alert {
  padding: 0.7em 1em;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: transparent;
  color: #34363a;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  border-width: 0;
  color: #70c8dc;
  color: var(--accent-color); }
  .DatoCMS-button:hover, .DatoCMS-button--micro:hover, .DatoCMS-button--tiny:hover, .DatoCMS-button--small:hover, .DatoCMS-button--large:hover, .DatoCMS-button--huge:hover, .DatoCMS-button--expand:hover, .DatoCMS-button--primary:hover, .DatoCMS-button--datocms:hover, .DatoCMS-button--rev:hover, .DatoCMS-button--alert:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .DatoCMS-button:active, .DatoCMS-button--micro:active, .DatoCMS-button--tiny:active, .DatoCMS-button--small:active, .DatoCMS-button--large:active, .DatoCMS-button--huge:active, .DatoCMS-button--expand:active, .DatoCMS-button--primary:active, .DatoCMS-button--datocms:active, .DatoCMS-button--rev:active, .DatoCMS-button--alert:active {
    background-color: rgb(237, 107, 94); }
  .DatoCMS-button i, .DatoCMS-button--micro i, .DatoCMS-button--tiny i, .DatoCMS-button--small i, .DatoCMS-button--large i, .DatoCMS-button--huge i, .DatoCMS-button--expand i, .DatoCMS-button--primary i, .DatoCMS-button--datocms i, .DatoCMS-button--rev i, .DatoCMS-button--alert i, .DatoCMS-button .Spinner, .DatoCMS-button--micro .Spinner, .DatoCMS-button--tiny .Spinner, .DatoCMS-button--small .Spinner, .DatoCMS-button--large .Spinner, .DatoCMS-button--huge .Spinner, .DatoCMS-button--expand .Spinner, .DatoCMS-button--primary .Spinner, .DatoCMS-button--datocms .Spinner, .DatoCMS-button--rev .Spinner, .DatoCMS-button--alert .Spinner {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 0.6; }
  .DatoCMS-button i:first-child, .DatoCMS-button--micro i:first-child, .DatoCMS-button--tiny i:first-child, .DatoCMS-button--small i:first-child, .DatoCMS-button--large i:first-child, .DatoCMS-button--huge i:first-child, .DatoCMS-button--expand i:first-child, .DatoCMS-button--primary i:first-child, .DatoCMS-button--datocms i:first-child, .DatoCMS-button--rev i:first-child, .DatoCMS-button--alert i:first-child, .DatoCMS-button .Spinner:first-child, .DatoCMS-button--micro .Spinner:first-child, .DatoCMS-button--tiny .Spinner:first-child, .DatoCMS-button--small .Spinner:first-child, .DatoCMS-button--large .Spinner:first-child, .DatoCMS-button--huge .Spinner:first-child, .DatoCMS-button--expand .Spinner:first-child, .DatoCMS-button--primary .Spinner:first-child, .DatoCMS-button--datocms .Spinner:first-child, .DatoCMS-button--rev .Spinner:first-child, .DatoCMS-button--alert .Spinner:first-child {
    margin-right: 0.5em; }
  .DatoCMS-button i:last-child, .DatoCMS-button--micro i:last-child, .DatoCMS-button--tiny i:last-child, .DatoCMS-button--small i:last-child, .DatoCMS-button--large i:last-child, .DatoCMS-button--huge i:last-child, .DatoCMS-button--expand i:last-child, .DatoCMS-button--primary i:last-child, .DatoCMS-button--datocms i:last-child, .DatoCMS-button--rev i:last-child, .DatoCMS-button--alert i:last-child, .DatoCMS-button .Spinner:last-child, .DatoCMS-button--micro .Spinner:last-child, .DatoCMS-button--tiny .Spinner:last-child, .DatoCMS-button--small .Spinner:last-child, .DatoCMS-button--large .Spinner:last-child, .DatoCMS-button--huge .Spinner:last-child, .DatoCMS-button--expand .Spinner:last-child, .DatoCMS-button--primary .Spinner:last-child, .DatoCMS-button--datocms .Spinner:last-child, .DatoCMS-button--rev .Spinner:last-child, .DatoCMS-button--alert .Spinner:last-child {
    margin-left: 0.5em; }
  .DatoCMS-button i:first-child:last-child, .DatoCMS-button--micro i:first-child:last-child, .DatoCMS-button--tiny i:first-child:last-child, .DatoCMS-button--small i:first-child:last-child, .DatoCMS-button--large i:first-child:last-child, .DatoCMS-button--huge i:first-child:last-child, .DatoCMS-button--expand i:first-child:last-child, .DatoCMS-button--primary i:first-child:last-child, .DatoCMS-button--datocms i:first-child:last-child, .DatoCMS-button--rev i:first-child:last-child, .DatoCMS-button--alert i:first-child:last-child, .DatoCMS-button .Spinner:first-child:last-child, .DatoCMS-button--micro .Spinner:first-child:last-child, .DatoCMS-button--tiny .Spinner:first-child:last-child, .DatoCMS-button--small .Spinner:first-child:last-child, .DatoCMS-button--large .Spinner:first-child:last-child, .DatoCMS-button--huge .Spinner:first-child:last-child, .DatoCMS-button--expand .Spinner:first-child:last-child, .DatoCMS-button--primary .Spinner:first-child:last-child, .DatoCMS-button--datocms .Spinner:first-child:last-child, .DatoCMS-button--rev .Spinner:first-child:last-child, .DatoCMS-button--alert .Spinner:first-child:last-child {
    margin-left: 0;
    margin-right: 0; }
  .DatoCMS-button[disabled], .DatoCMS-button--micro[disabled], .DatoCMS-button--tiny[disabled], .DatoCMS-button--small[disabled], .DatoCMS-button--large[disabled], .DatoCMS-button--huge[disabled], .DatoCMS-button--expand[disabled], .DatoCMS-button--primary[disabled], .DatoCMS-button--datocms[disabled], .DatoCMS-button--rev[disabled], .DatoCMS-button--alert[disabled], .DatoCMS-button.is-disabled, .is-disabled.DatoCMS-button--micro, .is-disabled.DatoCMS-button--tiny, .is-disabled.DatoCMS-button--small, .is-disabled.DatoCMS-button--large, .is-disabled.DatoCMS-button--huge, .is-disabled.DatoCMS-button--expand, .is-disabled.DatoCMS-button--primary, .is-disabled.DatoCMS-button--datocms, .is-disabled.DatoCMS-button--rev, .is-disabled.DatoCMS-button--alert {
    border-width: 0;
    color: rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    cursor: not-allowed; }

.DatoCMS-button--micro {
  font-size: 0.8em;
  padding: 0.5em 0.8em; }

.DatoCMS-button--tiny {
  font-size: 0.8em;
  padding: 0.6em 1em; }

.DatoCMS-button--small {
  font-size: 0.8em; }

.DatoCMS-button--large {
  font-size: 1.1em; }

.DatoCMS-button--huge {
  font-size: 1.1em;
  padding: 1em 1em; }

.DatoCMS-button--expand {
  text-align: center;
  display: block;
  width: 100%; }

.DatoCMS-button--primary {
  background-color: #70c8dc;
  background-color: var(--accent-color);
  color: white; }
  .DatoCMS-button--primary:hover, .DatoCMS-button--primary:active {
    background-color: #70c8dc;
    background-color: var(--accent-color);
    color: white;
    opacity: 0.8; }
  .DatoCMS-button--primary[disabled] {
    background-color: #e0e0e0; }
    .DatoCMS-button--primary[disabled]:hover {
      color: rgba(0, 0, 0, 0.2); }

.DatoCMS-button--datocms {
  background-color: #533451;
  color: white; }
  .DatoCMS-button--datocms:hover, .DatoCMS-button--datocms:active {
    color: white;
    background-color: #533451; }

.DatoCMS-button--rev {
  color: white; }
  .DatoCMS-button--rev:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .DatoCMS-button--rev:active {
    background-color: rgb(237, 107, 94); }

.DatoCMS-button--alert {
  color: #ff5e49; }

.DatoCMS-button--waiting {
  cursor: default; }
  .DatoCMS-button--waiting:hover {
    color: #34363a; }

.input_wrapper{
    position: relative;
}

.hint_block{
    position: absolute !important;
    width: 100%;
    top: 47px;
    left: 0px;
    border: 1px solid #e0e0e0;
    display: none;
    padding: 5px 0px;
}

.input_arrow{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.1;
    transition: 0.3s;
}

.input_arrow:hover{
    opacity: 0.5 !important;
}

.input_arrow:focus{
    opacity: 1;
}

.no_results{
    opacity: 0.7;
    text-align: center;
    padding: 10px 0px;
    cursor: default;
}

.option_result{
    text-align: left;
    padding: 10px;
    cursor: default;
    color: black;
}

.option_result__selected{
    text-align: left;
    padding: 10px;
    cursor: default;
    background-color: #de7264;
    color: white;
}

.option_result:hover{
    background-color: #fcf1ef;
}

.option_result:active{
    background-color: #b8d4fb;
}

.option_code{
    font-size: 11px;
    opacity: 0.5;
    cursor: default;
    margin-left: 10px;
}

.cleaner{
    position: absolute;
    height: 25px;
    width: 35px;
    background-color: white;
    top: 7.5px;
    right: 5px;
    border-left: 1px solid #efefef;
}

.clearfix{
    position: absolute;
    height: 25px;
    width: 15px;
    background-color: white;
    top: 7.5px;
    right: 41px; 
}

/*# sourceMappingURL=sdk.css.map*/